<dom-module id="app-contenttype-headers-support">
    <template>
        <style>
        :host {
            display: block;
        }
        paper-dialog-scrollable {
        	min-height: 300px;
        	min-width: 300px;
        }
        </style>
        <paper-dialog id="dialog" on-iron-overlay-closed="_onClosed">
            <h2>Standard mime types</h2>
            <paper-dialog-scrollable>
            	<paper-listbox selected="{{selected}}">
            	<template is="dom-repeat" items="{{defaults}}">
							  <paper-item>{{item}}</paper-item>
							</template>
							</paper-listbox>
            </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss autofocus>Cancel</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    Polymer({
        is: 'app-contenttype-headers-support',
        properties: {
          value: {
          	type: String,
          	overver: '_valueChanged'
          },
          selected: {
          	type: Number,
          	value: -1
          },
          defaults: {
          	type: Array,
          	value: function(){
          		return ['multipart-form-data','application/x-www-form-urlencoded','application/json','application/xml','application/base64','application/octet-stream','text/plain','text/css','text/html','application/javascript'];
          	}
          }
        },

        open: function(){
        	this.$.dialog.open();
        },

        _onClosed: function(e, detail){
        	if(typeof detail.confirmed !== 'undefined' || this.selected === -1) {
        		return;
        	}
        	this.fire('value-selected', {value: this.defaults[this.selected]});
        },

        _valueChanged: function(){
        	this.set('selected', this.defaults.indexOf(this.value));
        }
    });
    </script>
</dom-module>
