<style is="custom-style">
:root {
    --dark-primary-color: var(--paper-blue-700);
    --default-primary-color: var(--paper-blue-500);
    --light-primary-color: var(--paper-blue-50);
    --text-primary-color: rgba(0, 0, 0, 0.87);
    /*text/icons*/
    --accent-color: #FF4081;
    --primary-background-color: #ffffff;
    --primary-text-color: #212121;
    --secondary-text-color: #727272;
    --disabled-text-color: #bdbdbd;
    --divider-color: #B6B6B6;


    --paper-menu-background-color: #fff;
    --paper-toggle-button-checked-button-color: var(--paper-blue-500);
    --paper-tabs-selection-bar-color: var(--default-primary-color);
    --paper-tab-ink: var(--light-primary-color);
}


</style>
