<style is="custom-style">
:root {
  --dark-primary-color: var(--paper-blue-700);
  --default-primary-color: var(--paper-blue-500);
  --light-primary-color: var(--paper-blue-50);
  --text-primary-color: rgba(0, 0, 0, 0.87);
  /*text/icons*/
  --accent-color: #FF4081;
  --primary-background-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #727272;
  --disabled-text-color: #bdbdbd;
  --divider-color: #B6B6B6;
  --paper-menu-background-color: #fff;
  --paper-toggle-button-checked-button-color: var(--paper-blue-500);
  --paper-tabs-selection-bar-color: var(--default-primary-color);
  --paper-tab-ink: var(--light-primary-color);
  --page-title-text: {
    @apply(--paper-font-headline);
    padding: 0 16px;
  };
  --page-section-container: {
    border-bottom: 1px var(--paper-grey-100) solid;
    padding-bottom: 20px;
  };
  --page-section-title: {
    @apply(--paper-font-title);
    padding: 0 16px;
  };
  --page-section-item: {
    @apply(--layout-horizontal);
    @apply(--layout-center);
    @apply(--paper-font-body1);
    padding: 0 16px;
    min-height: 36px;
  };
  --page-section-item-simple: {
    @apply(--paper-font-body1);
    padding: 0 16px;
    min-height: 36px;
  };
}

html,
body.rest-client {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 15px;
  height: 100%;
}
</style>
