<dom-module id="app-response-status">
    <template>
        <style include="paper-material">
        :host {
            @apply(--layout-vertical);
        }
        .status-row {
            @apply(--layout-horizontal);
            @apply(--paper-font-subhead);
            @apply(--layout-center);
            padding: 0 24px;
            border-bottom: 1px rgba(0, 0, 0, 0.12) solid;
            min-height: 48px;
        }
        .status-label {
            width: 80px;
            margin-top: 8px;
            @apply(--paper-font-subhead);
        }
        .status-value {
            @apply(--layout-flex);
            @apply(--layout-horizontal);
            @apply(--layout-center);
        }
        .response-status-help {
            color: rgba(0, 0, 0, 0.24);
            transition: color 300ms ease-in-out;
        }
        
        .response-status-help:hover {
            color: rgba(33, 150, 243, 1);
        }
        
        .status-value.status {
            padding: 0 16px;
        }
        
        .status-color {
            color: var(--paper-green-700);
        }
        
        .status-color.warning {
            color: var(--paper-orange-700);
        }
        
        .status-color.error {
            color: var(--paper-red-700);
        }
        
        
        .no-redirects-container{
          @apply(--layout-vertical);
          @apply(--layout-center);
        }
        .no-redirects-info {
          @apply(--paper-font-title);
        }
        </style>
        <div class="status-row">
            <div class="status-label">Status:</div>
            <div class="status-value status">
                <span class$="{{computeStatusClass(statusCode)}}"><span>{{statusCode}}</span>: <span>{{statusMessage}}</span></span>
                <paper-icon-button on-tap="showStatusInfo" icon="help" class="response-status-help"></paper-icon-button>
                <span>Loading time: </span><span>{{loadingTime}}</span><span>ms</span>
            </div>
        </div>
        <paper-tabs selected="{{selectedTab}}">
            <paper-tab>Response headers (<span>{{responseHeaders.length}}</span>)</paper-tab>
            <paper-tab>Request headers (<span>{{requestHeaders.length}}</span>)</paper-tab>
            <paper-tab>Redirects (<span>{{redirectData.length}}</span>)</paper-tab>
        </paper-tabs>
        <iron-pages selected="{{selectedTab}}">
            <section>
                <app-headers-display headers="{{responseHeaders}}"></app-headers-display>
            </section>
            <section>
                <app-headers-display headers="{{requestHeaders}}"></app-headers-display>
            </section>
            <section>
              <template is="dom-if" if="{{!redirectData.length}}">
                <div class="no-redirects-container">
                  <p class="no-redirects-info">There were no redirects during this request</p>
                </div>
              </template>
              <template is="dom-if" if="{{redirectData.length}}">
                <template is="dom-repeat" items="{{redirectData}}">
                  <div class="status-row">
                    <div class="status-label">#<span>{{index}}</span></div>
                    <div class="status-value">
                      <app-headers-display headers="{{item.responseHeaders}}"></app-headers-display>
                    </div>
                  </div>
                </template>
              </template>
            </section>
        </iron-pages>
        <paper-dialog id="statusCodeInfo">
            <h2>{{_scdTitle}}</h2>
            <paper-dialog-scrollable>{{_scdBody}}</paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-confirm autofocus>Close</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    'use strict';
    /* global arc */
    Polymer({
        is: 'app-response-status',
        properties: {
            statusCode: {
                type: Number,
                observer: '_statusCodeChanged'
            },
            statusMessage: String,
            loadingTime: Number,
            requestHeaders: {
                type: Array,
                observer: '_requestHeadersChanged'
            },
            responseHeaders: {
                type: Array,
                observer: '_responseHeadersChanged'
            },
            redirectData: {
              type: Array,
              value: []
            },
            _scdTitle: String,
            _scdBody: String,
            selectedTab: {
              type: Number,
              value: 0
            }
        },
        computeStatusClass: function(code) {
            var cls = 'status-color';
            if (code >= 500 || code === 0) {
                cls += ' error';
            }
            if (code >= 400 && code < 500) {
                cls += ' warning';
            }
            return cls;
        },
        _statusCodeChanged: function() {
            if (this.statusCode === 0) {
                this._scdTitle = 'No response';
                this._scdBody = 'The response was empty';
                return;
            }
            arc.app.db.websql.getStatusCode(this.statusCode)
                .then(function(result) {
                    if (result && result.label) {
                        this._scdTitle = this.statusCode + ': ' + result.label;
                    } else {
                        this._scdTitle = 'Status code: ' + this.statusCode;
                    }
                    if (result && result.desc) {
                        this._scdBody = result.desc;
                    } else {
                        this._scdBody = 'There is no definition for this status code in the application :(';
                    }
                }.bind(this), function() {
                    this._scdTitle = 'Status code: ' + this.statusCode;
                    this._scdBody = 'There is no definition for this status code in the application :(';
                }.bind(this));
        },

        showStatusInfo: function() {
            this.$.statusCodeInfo.open();
        },

        _requestHeadersChanged: function() {
            this.requestHeaders.forEach((item) => item.type = 'request');
        },

        _responseHeadersChanged: function() {
            this.responseHeaders.forEach((item) => item.type = 'response');
        }
    });
    </script>
</dom-module>
