<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-button/paper-button.html">
<dom-module id="import-data-table">
    <style>
    :host {
        display: block;
        min-height: 200px;
        height: 100%;
    }
    .table{
        
    }
    .table-header {
        height: 64px;
    }
    .table-columns{
        height: 56px;
        font-family: 'Roboto';
        font-weight: 500;
        color: rgba(0,0,0,0.54);
        font-size: 12px;
    }
    .table-values{
        height: 48px;
        font-family: 'Roboto';
        color: rgba(0,0,0,0.87);
        font-size: 13px;
    }
    .project-column,
    .name-column,
    .method-column {
        padding-right: 24px;
    }
    .project-column{
        min-width: 120px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .name-column{
        min-width: 120px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .method-column{
        min-width: 100px;
        max-width: 100px;
    }
    .url-column{

    }
    .actionButton{
        background-color: #4285f4;
        color: #fff;
    }
    h2 {
        font-size: 20px;
        color: rgba(0,0,0,0.87);
        font-family: 'Roboto';
        font-weight: 400;
        padding: 0 24px;
    }
    .table-values,
    .table-columns {
        border-bottom: 1px rgba(0,0,0,0.12) solid;
        padding: 0 24px;
    }
    .table-columns:last-child{
        border-bottom: 1px rgba(0,0,0,0) solid;
    }
    </style>
    <template>
        <div class="flex layout vertical table">
            <div class="table-header layout horizontal center">
                <h2 class="flex">Import preview</h2>
                <paper-button raised class="actionButton" on-tap="importTap">import</paper-button>
                <paper-button on-tap="cancelTap">cancel</paper-button>
            </div>
            <div class="table-columns layout horizontal center">
                <div class="project-column" id="projectColumn">Project</div>
                <div class="name-column" id="nameColumn">Name</div>
                <div class="method-column" id="methodColumn">Method</div>
                <div class="url-column" id="urlColumn">URL</div>
                <paper-tooltip for="projectColumn">If the request has been added to the project it will display project name</paper-tooltip>
                <paper-tooltip for="nameColumn">The request name added when saving</paper-tooltip>
                <paper-tooltip for="methodColumn">The request HTTP method</paper-tooltip>
                <paper-tooltip for="urlColumn">Full URL saved with the request</paper-tooltip>
            </div>
            <template is="dom-repeat" items="{{requests}}">
                <div class="table-values layout horizontal center">
                    <div class="project-column">{{_computeProjectName(item, projects)}}</div>
                    <div class="name-column">{{item.name}}</div>
                    <div class="method-column">{{item.method}}</div>
                    <div class="url-column">{{item.url}}</div>
                </div>
            </template>
            <div class="table-columns layout horizontal center">
                <div class="flex"></div>
                <paper-button raised class="actionButton" on-tap="importTap">import</paper-button>
                <paper-button on-tap="cancelTap">cancel</paper-button>
            </div>
        </div>
    </template>
    <script>
    Polymer({
        is: 'import-data-table',
        properties: {
        	projects: Object,
            requests: Object
        },
        _computeProjectName: function(item, projects){
            if(!item.project || isNaN(item.project)){
                return 'none';
            }
            if(!projects.length){
                return 'none';
            }
            for(var i=0, length = projects.length; i<length; i++){
                if(projects[i].id === item.project){
                    return projects[i].name;
                }
            }
            return 'none';
        },

        importTap: function(){
            this.fire('import-action',{action: 'import'});
        },
        cancelTap: function(){
            this.fire('import-action',{action: 'cancel'});
        }
    });
    </script>
</dom-module>
