<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<servlet>
		<servlet-name>TestDataServlet</servlet-name>
		<servlet-class>com.restclient.server.TestDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>TestDataServlet</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	
	<!-- Save/Restore data servlet -->
	<servlet>
		<servlet-name>extensionEntry</servlet-name>
		<servlet-class>com.restclient.server.ExtensionServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>extensionEntry</servlet-name>
		<url-pattern>/ext-channel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>extensionEntry</servlet-name>
		<url-pattern>/ext-channel/*</url-pattern>
	</servlet-mapping>
	<!-- Ping servlet -->
	<servlet>
		<servlet-name>pingEntry</servlet-name>
		<servlet-class>com.restclient.server.PingServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>pingEntry</servlet-name>
		<url-pattern>/ping/*</url-pattern>
	</servlet-mapping>
	
	<!-- Auth servlet -->
	<servlet>
		<servlet-name>AuthServlet</servlet-name>
		<servlet-class>com.restclient.server.AuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth/signin</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>pingEntry</servlet-name>
		<url-pattern>/ping/*</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>UserDataServlet</servlet-name>
		<servlet-class>com.restclient.server.UserDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
        <servlet-name>UserDataServlet</servlet-name>
        <url-pattern>/udata/*</url-pattern>
    </servlet-mapping>
	
	
	
	<!-- Default page to serve -->
	<welcome-file-list>
<!-- 		<welcome-file>RestClientApp.html</welcome-file> -->
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>	
	<filter>
        <filter-name>extensionOrginFilter</filter-name>
        <filter-class>com.restclient.server.ExtensionServletFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>extensionOrginFilter</filter-name>
        <url-pattern>/ext-channel*</url-pattern>
    </filter-mapping>

</web-app>
