@def fieldWidth 30em;
.editField {
	display: inline;
	width: fieldWidth;
}

.note {
	text-align: left;
	padding: 10px 20px;
	background: rgba(255, 0, 0, 0.05);
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid rgba(255, 0, 0, 0.2);
/* 	text-shadow: rgba(0, 0, 0, 0.2) 0 2px 5px; */
	display: inline-block;
}
.formRow{
	display: -webkit-box;
	margin: 15px 0;
}
.rowLabel{
/* 	text-shadow: #bbcee9 0 1px 1px; */
	display: block;
	outline: none;
	padding: 7px 0;
	text-align: end;
	-webkit-padding-end: 24px;
	width: 94px;
}

.italic {
	font-style: italic;
}

.dialog-buttons {
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: end;
	display: -webkit-box;
	padding: 10px;
}

.button {
	margin-left: 10px;
	cursor: pointer;
}

body {
	background-color: white;
	color: black;
	font-family: Arial, sans-serif;
	font-size: small;
	margin: 8px;
	margin-top: 3px;
}

.boxed {
	border: thin solid black;
	margin: 2px;
	overflow: hidden;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.contentTitle {
	-webkit-padding-end: 24px;
	-webkit-user-select: none;
	color: black;
	font-size: 175%;
	font-weight: normal;
	margin: 0;
	padding-bottom: 14px;
	padding-top: 13px;
	text-align: end;
/* 	text-shadow: white 0 1px 2px; */
	cursor: pointer;
}
.contentTitle.about{
	-webkit-padding-start: 24px;
	text-align: start;
}
.hidden{
	display: none;
}
.subpageCloseButton{
	position: absolute;
	right: 20px;
	top: 10px;
}
.subpageContainer{
	-webkit-box-shadow: #666 0 2px 5px;
	background-color: white;
	border-left: 1px solid #B8B8B8;
	box-sizing: border-box;
	min-height: 100%;
	width: 100%;
	padding: 20px;
}
.subpageTopContainer{
	-webkit-padding-start: 30px;
	z-index: 10;
	box-sizing: border-box;
	min-height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	bottom: 0px;
}