<link rel="import" href="../polymer/polymer.html">
<dom-module id="app-settings">
  <template>
    <style>
    :host {
      display: block;
    }
    
    h1 {
      @apply(--page-title-text);
    }
    
    .help-icon {
      height: 36px;
      width: 36px;
      color: var(--paper-grey-500);
    }
    
    .settings-section {
      border-bottom: 1px var(--paper-grey-100) solid;
    }
    </style>
    <h1 class="page-title">Settings</h1>
    <section class="settings-section">
      <paper-item on-tap="manageClick">
        <paper-item-body two-line>
          <div>Import / export</paper-icon-button>
          </div>
          <div secondary>Import or export data you saved in the app</div>
        </paper-item-body>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item on-tap="historyClearClick">
        <paper-item-body>
          <div>Clear history</div>
        </paper-item-body>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item>
        <paper-item-body two-line>
          <div>Debug</div>
          <div secondary>Enable debug messages in chrome console output</div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.DEBUG_ENABLED}}"></paper-toggle-button>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item>
        <paper-item-body two-line>
          <div>History</div>
          <div secondary="true">Save list of requests made by the app in local storage</div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.HISTORY_ENABLED}}"></paper-toggle-button>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item>
        <paper-item-body>
          <div>
            Magic variables
            <paper-icon-button icon="help" class="help-icon" on-tap="openMagicVariablesDialog"></paper-icon-button>
          </div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.MAGICVARS_ENABLED}}"></paper-toggle-button>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item>
        <paper-item-body two-line>
          <div>CodeMirror for headers</div>
          <div secondary>Enable CodeMirror editor in headers panel</div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.CMH_ENABLED}}"></paper-toggle-button>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item>
        <paper-item-body two-line>
          <div>CodeMirror for payload</div>
          <div secondary>Enable CodeMirror editor in payload panel</div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.CMP_ENABLED}}"></paper-toggle-button>
      </paper-item>
    </section>
    <h1 class="page-title">Experiments</h1>
    <section class="settings-section">
      <paper-item>
        <paper-item-body two-line>
          <div>Use IndexedDB</div>
          <div secondary>Disable WebSQL and use IndexedDB</div>
        </paper-item-body>
        <paper-toggle-button checked="{{values.useIdb}}"></paper-toggle-button>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item on-tap="importIndexedDB">
        <paper-item-body>
          <div>Clear IndexedDB and import data from WebSQL</div>
        </paper-item-body>
      </paper-item>
    </section>
    <section class="settings-section">
      <paper-item on-tap="resetApp">
        <paper-item-body two-line>
          <div>Factory reset</div>
          <div secondary>Reset the app to default settings</div>
        </paper-item-body>
      </paper-item>
    </section>
    <paper-dialog id="historyClearDialog" on-iron-overlay-closed="onClearDialogResult">
      <h2>Clear history</h2>
      <paper-dialog-scrollable>
        <p>This will remove all data from the history store. Would you like to continue?</p>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus>Clear</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="magicVatDialog">
      <h2>Magic variables</h2>
      <paper-dialog-scrollable>
        <p>Now you use the Magic Variables. Currently it is two special strings that will be replaced just before sending a request:</p>
        <p>${random} - generate random number from 0 to Number.MAX_VALUE</p>
        <p>${now} - insert current time (in ms)</p>
        <p>You can place it in the URL, in headers list or in payload.</p>
        <p>Furthermore, if you'd like to group generated numbers and use them more than once using the same generated value:</p>
        <p>${random:[group_number]} where [group_number] is a number of the group.</p>
        <p>For example you can use ${random:1} more than once and the same value will be placed anywhere when you put this string.</p>
        <p>Learn more on blog post: <a href="http://restforchrome.blogspot.co.uk/2012/11/introduce-magic-variables.html" target="_blank">Introduce: Magic Variables</a></p>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-confirm>Close</paper-button>
      </div>
    </paper-dialog>
    <paper-dialog id="resetDialog" on-iron-overlay-closed="onResetDialogResult">
      <h2>Reset app</h2>
      <paper-dialog-scrollable>
        <p>This will remove all your data from the storage.</p>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm>Reset</paper-button>
      </div>
    </paper-dialog>
    <paper-toast text="Database recreated" id="dbRecreate"></paper-toast>
    <paper-toast text="There was an error recreating the database" id="dbRecreateError"></paper-toast>
  </template>
  <script>
  Polymer({
    is: 'app-settings',
    properties: {
      values: {
        type: Object
      },
      _storageObserver: {
        type: Function,
        value: function() {
          return this._onStorageChanged.bind(this);
        }
      },
      initialized: {
        type: Boolean,
        value: false
      }
    },
    observers: [
      '_onValueChange(values.*)'
    ],
    ready: function() {
      if (!arc.app.settings || !arc.app.settings.getConfig) {
        throw new Error("The arc.app.settings library not ready");
      }
      arc.app.settings.getConfig()
        .then(function(values) {
          this.set('values', values);
          //propagate value changes first on initialize time.
          window.setTimeout(function() {
            this.initialized = true;
          }.bind(this), 0);
        }.bind(this));

      chrome.storage.onChanged.addListener(this._storageObserver);
    },
    /**
     * A callback called when the value of any storage change.
     * This view should handle external changes to the store.
     */
    _onStorageChanged: function(changes, area) {
      var keys = Object.keys(changes);
      var accepted = ['DEBUG_ENABLED', 'HISTORY_ENABLED', 'MAGICVARS_ENABLED', 'CMH_ENABLED', 'CMP_ENABLED', 'useIdb'];
      keys.forEach(function(key) {
        if (accepted.indexOf(key) !== -1 && this.values[key] !== changes[key].newValue) {
          this.set('values.' + key, changes[key].newValue);
        }
      }.bind(this));
    },

    /**
     * A function called when any value change.
     */
    _onValueChange: function(changeRecord) {
      if (!this.initialized) {
        return;
      }
      var key = changeRecord.path.replace('values.', '');
      var value = changeRecord.value;
      arc.app.settings.saveConfig(key, value);
      var o = {
        'key': key,
        'value': value
      };
      console.log('Setting changed', key, value);
      this.fire('settings-saved', o);
    },
    /**
     * Open the dialog with magic variables explanation.
     */
    openMagicVariablesDialog: function() {
      this.$.magicVatDialog.open();
    },

    manageClick: function() {
      this.fire('settings-action', {
        action: 'manage-import-export'
      });
    },
    historyClearClick: function() {
      this.$.historyClearDialog.open();
    },
    onClearDialogResult: function(e) {
      if (e.detail.canceled || !e.detail.confirmed) {
        return;
      }
      this.fire('settings-action', {
        action: 'clear-history'
      });
    },
    importIndexedDB: function() {
      arc.app.db.idb.deleteDatabase()
        .then(arc.app.db.idb.open)
        .then(function(db) {
          db.close();
          this.$.dbRecreate.open();
        }.bind(this))
        .catch(function(cause) {
          this.$.dbRecreateError.open();
          console.error('Upgrade database error', cause);
        }.bind(this));
    },

    resetApp: function() {
      this.$.resetDialog.open();
    },

    onResetDialogResult: function(e) {
      if (e.detail.canceled || !e.detail.confirmed) {
        return;
      }
      chrome.storage.local.clear(function() {
        chrome.storage.local.set({
          'upgraded': {
            'v4': true,
            'v4p6': true
          }
        }, function() {
          arc.app.db.websql.resetDatabases()
            .then(arc.app.db.websql.open)
            .then(arc.app.db.idb.deleteDatabase)
            .then(arc.app.db.idb.open)
            .then(function(db) {
              db.close();
              this.$.dbRecreate.open();
            }.bind(this))
            .catch(function(cause) {
              this.$.dbRecreateError.open();
              console.error('Upgrade database error', cause);
            }.bind(this));
        }.bind(this));
      }.bind(this));
    }
  });
  </script>
</dom-module>
