<link rel="import" href="../polymer/polymer.html">
<dom-module id="app-settings">
    <template>
        <style>
        :host {
            display: block;
        }
        
        h1 {
            @apply(--paper-font-headline);
            padding: 0 16px;
        }
        
        .help-icon {
            height: 36px;
            width: 36px;
            color: var(--paper-grey-500);
        }
        
        .settings-section {
            border-bottom: 1px var(--paper-grey-100) solid;
        }
        </style>
        <h1>Settings</h1>
        <section class="settings-section">
            <paper-item>
                <paper-item-body two-line>
                    <div>Import / export</paper-icon-button>
                    </div>
                    <div secondary>Import or export data you saved in the app</div>
                </paper-item-body>
                <paper-button on-tap="manageClick">Manage</paper-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body two-line>
                    <div>Debug</div>
                    <div secondary>Enable debug messages in chrome console output</div>
                </paper-item-body>
                <paper-toggle-button checked="{{values.DEBUG_ENABLED}}"></paper-toggle-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body two-line>
                    <div>History</div>
                    <div secondary="true">Save list of requests made by the app in local storage</div>
                </paper-item-body>
                <paper-toggle-button checked="{{values.HISTORY_ENABLED}}"></paper-toggle-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body>
                    <div>Clear history</div>
                </paper-item-body>
                <paper-button on-tap="historyClearClick">Clear</paper-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body>
                    <div>
                      Magic variables
                      <paper-icon-button icon="help" class="help-icon" on-tap="openMagicVariablesDialog"></paper-icon-button>
                    </div>
                </paper-item-body>
                <paper-toggle-button checked="{{values.MAGICVARS_ENABLED}}"></paper-toggle-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body two-line>
                    <div>CodeMirror for headers</div>
                    <div secondary>Enable CodeMirror editor in headers panel</div>
                </paper-item-body>
                <paper-toggle-button checked="{{values.CMH_ENABLED}}"></paper-toggle-button>
            </paper-item>
        </section>
        <section class="settings-section">
            <paper-item>
                <paper-item-body two-line>
                    <div>CodeMirror for payload</div>
                    <div secondary>Enable CodeMirror editor in payload panel</div>
                </paper-item-body>
                <paper-toggle-button checked="{{values.CMP_ENABLED}}"></paper-toggle-button>
            </paper-item>
        </section>
        <paper-dialog id="magicVatDialog">
            <h2>Magic variables</h2>
            <paper-dialog-scrollable>
              <p>Now you use the Magic Variables. Currently it is two special strings that will be replaced just before sending a request:</p>
              <p>${random} - generate random number from 0 to Number.MAX_VALUE</p>
              <p>${now} - insert current time (in ms)</p>
              <p>You can place it in the URL, in headers list or in payload.</p>
              <p>Furthermore, if you'd like to group generated numbers and use them more than once using the same generated value:</p>
              <p>${random:[group_number]} where [group_number] is a number of the group.</p>
              <p>For example you can use ${random:1} more than once and the same value will be placed anywhere when you put this string.</p>
              <p>Learn more on blog post: <a href="http://restforchrome.blogspot.co.uk/2012/11/introduce-magic-variables.html" target="_blank">Introduce: Magic Variables</a></p>
            </paper-dialog-scrollable>
            <div class="buttons">
              <paper-button dialog-confirm>Close</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
    Polymer({
        is: 'app-settings',
        properties: {
            values: {
                type: Object
            },
            _storageObserver: {
                type: Function,
                value: function() {
                    return this._onStorageChanged.bind(this);
                }
            }
        },
        observers: [
            '_onValueChange(values.*)'
        ],
        attached: function() {
            if (!arc.app.settings || !arc.app.settings.getConfig) {
                throw new Error("The arc.app.settings library not ready");
            }
            arc.app.settings.getConfig()
                .then(function(values) {
                    this.set('values', values);
                }.bind(this));

            chrome.storage.onChanged.addListener(this._storageObserver);
        },
        /**
         * A callback called when the value of any storage change.
         * This view should handle external changes to the store.
         */
        _onStorageChanged: function(changes, area) {
            var keys = Object.keys(changes);
            var accepted = ['DEBUG_ENABLED', 'HISTORY_ENABLED', 'MAGICVARS_ENABLED', 'CMH_ENABLED', 'CMP_ENABLED'];
            keys.forEach(function(key) {
                if (accepted.indexOf(key) !== -1 && this.values[key] !== changes[key].newValue) {
                    this.set('values.' + key, changes[key].newValue);
                }
            }.bind(this));
        },

        /**
         * A function called when any value change.
         */
        _onValueChange: function(changeRecord) {
            var key = changeRecord.path.replace('values.', '');
            var value = changeRecord.value;
            arc.app.settings.saveConfig(key, value);
            var o = {
              'key': key,
              'value': value
            };
            this.fire('settings-saved', o);
        },
        /**
         * Open the dialog with magic variables explanation.
         */
        openMagicVariablesDialog: function(){
          this.$.magicVatDialog.open();
        },

        manageClick: function(){
          this.fire('settings-action', {action:'manage-import-export'});
        },
        historyClearClick: function(){
          this.fire('settings-action', {action:'clear-history'});
        }
    });
    </script>
</dom-module>
